.navbar {
    height: 50px;
}

.cleanly {
    float: left;
    margin-left: 200px;
    margin-top: 17px;
    font-size: 25px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 200px;
}

li {
    display: inline;
    float: right;
    margin-top: 17px;
    margin-right: 50px;
}

li a {
    display: block;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.book {
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}