.section5 div {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.img1 {
    width: 50%;
}

.img2 {
    position: absolute;
    width: 50%;
    left: 50%;
}

.livingbath {
    position: absolute;
    left: 60%;
}

.bedkitchen {
    width: 50%;
    margin: 0 0 73px 150px;
}

.content div h3 {
    margin: 10px 0;
    font-weight: normal;
}

.content div span {
    color: rgb(19, 109, 109);
    border-bottom: 3px solid rgb(19, 109, 109);
}